In [59]:
import numpy as np
import pandas as pd

In [60]:
n = 20

In [61]:
df = pd.DataFrame(index=list(range(1, n+1)), columns=['hire', 'skip'])
df.index.name = 'candidate'

def decision(s):
    if s == n + 1:
        return 1
    else:
        no_hire = 0.78 * decision(s+1)
        hire = 0.22 * ((1/11) * 25 + (10/11) + 5)
        df.loc[s, 'hire'] = hire
        df.loc[s, 'skip'] = no_hire
        return no_hire + hire

decision(1)
df['decision'] = np.where(df['hire'] > df['skip'], 'hire', 'skip')
df

          hire      skip decision
candidate
1          1.8  6.331915     skip
2          1.8   6.31784     skip
3          1.8  6.299795     skip
4          1.8   6.27666     skip
5          1.8     6.247     skip
6          1.8  6.208975     skip
7          1.8  6.160224     skip
8          1.8  6.097723     skip
9          1.8  6.017593     skip
10         1.8  5.914863     skip
11         1.8  5.783158     skip
12         1.8  5.614305     skip
13         1.8  5.397827     skip
14         1.8  5.120291     skip
15         1.8  4.764476     skip
16         1.8  4.308302     skip
17         1.8  3.723464     skip
18         1.8  2.973672     skip
19         1.8    2.0124     skip
20         1.8      0.78     hire