In [1]:
import pandas as pd

# Revtsov Final Project Part 1
NOTE: All Results are in basis points

## Setup

#### Read in Data

In [2]:
bm_rts = pd.read_excel('FinalProjectData.xlsx', sheet_name='Benchmark Returns')
bm_rts.date = pd.to_datetime(bm_rts.date).dt.date
bm_rts.set_index('date', inplace=True)

act_rts = pd.read_excel('FinalProjectData.xlsx', sheet_name='Active Returns')
act_rts.date = pd.to_datetime(act_rts.date).dt.date
act_rts.set_index('date', inplace=True)
last_obs = act_rts.index[-1]

#### Table of Asset Level Data

In [3]:
asset_data = pd.DataFrame(
    
    data=[
        ['Stocks', 'U.S. Large Cap', 'IWB', 'AF_IWB', 0.55, 0.58],
        ['Stocks', 'U.S. Small Cap', 'IWM', 'AF_IWM', 0.06, 0.07],
        ['Stocks', 'Non-U.S. Markets', 'IXUS', 'AF_IXUS', 0.39, 0.35],
        ['Bonds', 'Short Treasuries', 'SHV', 'AF_SHV', 0.2, 0.18],
        ['Bonds', 'Long Treasuries', 'TLT', 'AF_TLT', 0.3, 0.33],
        ['Bonds', 'Investment Grade Corporate Bonds', 'IGSB', 'AF_IGSB', 0.5, 0.49],
        ['Alternatives', 'Listed Real Estate', 'XLRE', 'AF_XLRE', 0.34, 0.4],
        ['Alternatives', 'Commodities', 'GSG', 'AF_GSG', 0.33, 0.3],
        ['Alternatives', 'Listed Infrastructure', 'IGF', 'AF_IGF', 0.33, 0.3],
    ],
    columns=[
        'Category', 'AssetClass', 'BMTicker', 'ActTicker', 'BMWeight', 'ActWeight',
    ]
)
asset_data

,Category,AssetClass,BMTicker,ActTicker,BMWeight,ActWeight
0,Stocks,U.S. Large Cap,IWB,AF_IWB,0.55,0.58
1,Stocks,U.S. Small Cap,IWM,AF_IWM,0.06,0.07
2,Stocks,Non-U.S. Markets,IXUS,AF_IXUS,0.39,0.35
3,Bonds,Short Treasuries,SHV,AF_SHV,0.20,0.18
4,Bonds,Long Treasuries,TLT,AF_TLT,0.30,0.33
5,Bonds,Investment Grade Corporate Bonds,IGSB,AF_IGSB,0.50,0.49
6,Alternatives,Listed Real Estate,XLRE,AF_XLRE,0.34,0.40
7,Alternatives,Commodities,GSG,AF_GSG,0.33,0.30
8,Alternatives,Listed Infrastructure,IGF,AF_IGF,0.33,0.30

#### Function to Calculate Attribution
Used throughout the project.

In [4]:
def calc_attribution(subset, scale=1e4):
    # if either of the BM or Actual weight vectors don't add up to 1, rescale them.
    subset.loc[:, 'BMWeight'] = subset.BMWeight / subset.BMWeight.sum()
    subset.loc[:, 'ActWeight'] = subset.ActWeight / subset.ActWeight.sum()
    
    # calculate the 3 quadrants
    q1 = subset.BMWeight * subset.BMReturn
    q2 = subset.ActWeight * subset.BMReturn
    q3 = subset.BMWeight * subset.ActReturn
    q4 = subset.ActWeight * subset.ActReturn
    
    # calculate attribution and return
    attribution = (q2 - q1).rename('Allocation').to_frame().join(
        (q3 - q1).rename('Implementation')
    ).join(
        (q4 - q2 - q3 + q1).rename('Other')
    )
    return attribution.mul(scale)

#### Merge in Returns
Also calculate contribution.

In [5]:
all_data = asset_data.merge(
    bm_rts.loc[last_obs].rename('BMReturn'), how='left', left_on='BMTicker', right_index=True
).merge(
    act_rts.loc[last_obs].rename('ActReturn'), how='left', left_on='ActTicker', right_index=True
).set_index('AssetClass')

all_data.loc[:, 'BMCtr'] = all_data.BMWeight * all_data.BMReturn
all_data.loc[:, 'ActCtr'] = all_data.ActWeight * all_data.ActReturn

## Multi-Asset Analysis

In [6]:
multi_asset_rts = all_data.groupby('Category')[['BMCtr', 'ActCtr']].sum()
multi_asset_rts.columns = ['BMReturn', 'ActReturn']

#### 60/30/10 Fund

In [7]:
multi_asset_fund1 = pd.DataFrame(
    data=[
        ['Stocks', .6, .59],
        ['Bonds', .3, .26],
        ['Alternatives', .1, .15]
    ],
    columns=['Category', 'BMWeight', 'ActWeight'],
).set_index('Category')
multi_asset_fund1 = multi_asset_fund1.join(multi_asset_rts)

In [8]:
calc_attribution(multi_asset_fund1)

              Allocation  Implementation     Other
Category
Stocks         -0.627142       -2.086244  0.034771
Bonds          -1.120395        0.555211 -0.074028
Alternatives   -0.413608        0.891008  0.445504

#### 50/45/5 Fund

In [9]:
multi_asset_fund2 = pd.DataFrame(
    data=[
        ['Stocks', .5, .51],
        ['Bonds', .45, .42],
        ['Alternatives', .05, .07]
    ],
    columns=['Category', 'BMWeight', 'ActWeight'],
).set_index('Category')
multi_asset_fund2 = multi_asset_fund2.join(multi_asset_rts)

In [10]:
calc_attribution(multi_asset_fund2)

              Allocation  Implementation     Other
Category
Stocks          0.627142       -1.738537 -0.034771
Bonds          -0.840296        0.832817 -0.055521
Alternatives   -0.165443        0.445504  0.178202

## Asset Class Analysis

### Stocks

#### Allocation

In [11]:
predicate = 'Category == "Stocks"'
subset = all_data.query(predicate).copy()
calc_attribution(subset)

                  Allocation  Implementation     Other
AssetClass
U.S. Large Cap      1.008307        0.144734  0.007895
U.S. Small Cap     -0.382905       -0.037353 -0.006225
Non-U.S. Markets   -4.771900        0.624418 -0.064043

#### Capitalization

In [12]:
predicate = '(Category == "Stocks") & (AssetClass != "Non-U.S. Markets")'
subset = all_data.query(predicate).copy()
subset['Cap'] = ['Large', 'Small']
subset = subset.reset_index().set_index('Cap')
calc_attribution(subset)

       Allocation  Implementation     Other
Cap
Large   -0.313639        0.237268 -0.002456
Small   -0.357313       -0.061234 -0.005809

#### Country

In [13]:
predicate = 'Category == "Stocks"'
subset = all_data.query(predicate).copy()

subset['Country'] = ['US', 'US', 'Non-US']

subset = subset.groupby('Country')[['BMWeight', 'ActWeight', 'BMCtr', 'ActCtr']].sum().rename(columns={'BMCtr': 'BMReturn', 'ActCtr': 'ActReturn'})
calc_attribution(subset)

         Allocation  Implementation     Other
Country
Non-US    -1.861041       -1.642495  0.168461
US         0.647528        0.448016  0.029378

### Bonds

#### Allocation

In [14]:
predicate = 'Category == "Bonds"'
subset = all_data.query(predicate).copy()
calc_attribution(subset)

                                  Allocation  Implementation     Other
AssetClass
Short Treasuries                   -0.218034        0.120938 -0.012094
Long Treasuries                     1.216080        1.258667  0.125867
Investment Grade Corporate Bonds   -0.273375       -0.374841  0.007497

#### Duration

In [15]:
predicate = '(Category == "Bonds") & (AssetClass != "Investment Grade Corporate Bonds")'
subset = all_data.query(predicate).copy()
subset['Duration'] = ['Short', 'Long']

subset = subset.reset_index().set_index('Duration')
calc_attribution(subset)

          Allocation  Implementation     Other
Duration
Short      -0.513022        0.241875 -0.028456
Long        1.907576        2.517334  0.197438

#### Credit Quality

In [16]:
predicate = 'Category == "Bonds"'
subset = all_data.query(predicate).copy()

subset['Credit Quality'] = ['Treasury', 'Treasury', 'IG']

subset = subset.groupby('Credit Quality')[['BMWeight', 'ActWeight', 'BMCtr', 'ActCtr']].sum().rename(columns={'BMCtr': 'BMReturn', 'ActCtr': 'ActReturn'})
calc_attribution(subset)

                Allocation  Implementation     Other
Credit Quality
IG               -0.136687       -0.320360  0.006407
Treasury          0.143411        1.245712  0.024914

### Alternatives

#### Allocation

In [17]:
predicate = 'Category == "Alternatives"'
subset = all_data.query(predicate).copy()
calc_attribution(subset)

                       Allocation  Implementation     Other
AssetClass
Listed Real Estate       4.963083        0.936629  0.165287
Commodities              4.010960       -0.245712  0.022337
Listed Infrastructure   -0.702207       -0.264326  0.024030